---
import BaseLayout from '../../layouts/BaseLayout.astro';
import RepoCard from '@components/ui/RepoCard.astro';
import { getLangFromUrl, useTranslations, getStaticLocalePaths } from '@i18n/utils';
import { getProjects } from '@/data/projects';

export const getStaticPaths = getStaticLocalePaths;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pageTitle = t('homePage.GlassButtonText')
const myRepos = getProjects(t);
---

<BaseLayout pageTitle={pageTitle} lang={lang}>
  <div class="wrap"> <h1>{t('projects.title')}</h1>
    <p class="soft-p muted">
      {t('projects.desc')}
    </p>

    <div class="repo-grid">
      {myRepos.map(repo => (
        <RepoCard
          name={repo.name}
          description={repo.description}
          href={repo.href}
          language={repo.language}
          homepageUrl={repo.homepageUrl}
        />
      ))}
    </div>

  </div>
</BaseLayout>
<style>
  .repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
</style>